.body-box {
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-size: 16px;
    max-width: 1440px;
}

.sidebar-box {
    display: flex;
    flex-direction: column;
    width: 470px;
}

.contact-box {
    background: rgba(228, 255, 26, 1);
    padding: 87px 61px 76px 63px;
}

.schoolSkill-box {
    background: rgba(54, 65, 86, 1);
    padding: 43px 61px 43px 63px;
}

.school-box {
    color: white;
}

.school-date-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
}


.skill-box {
    color: white;  
    margin-top: 60px;
}

.main-box {
    display: flex;
    flex-direction: column;
    padding: 85px 121px 85px 136px;
    width: 712px;
}

.text-font {
    font-size: 16px;
    margin-top: 104px;
}

.arbeit-box {

}

.arbeit-title-box {
    background-color: rgba(30, 30, 30, 1);
    color: white;
    margin-top: 60px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 24px;
}

.arbeit-section-box {
    margin-top: 40px;
}

.arbeit-date-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 18px;
}

.h1-96px {
    font-size: 96px;
}

.h2-36px {
    font-size: 36px;
}

.h3-24px {
    font-size: 24px;
}

.h3-20px {
    font-size: 20px;
}

.h4-16px {
    font-size: 16px;
}